


.conainer .text{
    position: sticky;
position: relative;
color: #0ef;
font-size: 33px;
font-weight: 600;
}
.text.sec-text:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid #0ef;
    animation: animate 3s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
